<div class="meetings cf">

  <h1>Today {{today | date:'shortDate'}}</h1>
  <h2>your daily goal({{goal}}) - today's total({{foodTotal}}) = calories remaining({{goal - foodTotal}})</h2>
  <form class="formgroup addmeeting cf"
    name="myform"
    ng-submit="addMeal()"
    novalidate>
    <div class="inputwrapper">
      <input type="text" name="mealname" 
      placeholder="Meal name" 
        ng-model="mealname" ng-required="true">
      <input type="text" name="mealcalories" 
      placeholder="Meal calories" 
        ng-model="mealcalories" ng-required="true">
    </div>
    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">ADD</button>
  </form>

  <h2>Your Food Diary:</h2>
    <span class="label">Showing Meals for:</span>
      <select ng-model="dateFilter.date">
      	<option value="0">Today</option>
        <option value="1">Yesterday</option>
        <option value="2">Last Week</option>
        <option value="3">All</option>
      </select>
    </div><!-- formgroup -->
  <div class="meeting" ng-repeat="(key, meal) in meals"> <!-- | dateFilter: dateFilter.date -->
  	<span class="text">{{meal.name}} Calories: {{meal.calories}} Added on: {{meal.date | date:'short'}}</span>

    <a class="btn btn-search tooltip" 
      ng-href="#/recipes/{{currentUser.regUser}}/{{key}}/recipeList">
      <span>View your saved {{meal.name}} recipes</span></a>

<!-- 
    <a class="btn btn-search tooltip" 
      ng-href="#/recipes/{{currentUser.regUser}}/{{key}}/recipeList">
      <span>Look for similar recipes on Eat Right</span></a>
 -->

    <a class="btn btn-save tooltip" 
      ng-href="#/recipes/{{currentUser.regUser}}/{{key}}">
      <span>Save your {{meal.name}} Recipe</span></a>

<!-- 
    <a class="btn btn-share tooltip" 
      ng-href="#/recipes/{{currentUser.regUser}}/{{key}}">
      <span>Share your Recipe</span></a>
 -->
  
    <button class="btn btn-delete tooltip"
      ng-click="deleteMeal(key)">
    <span>Delete this meal</span></button>
    
  </div><!-- meal list -->
</div><!-- meetings cf -->