<section>
    <h1>Welcome to Eat Right!</h1>
    <p>Eat Right is a calorie counter and recipe finder designed to help you eat
    better. Register or Log-in to start your own food diary to keep track of your
    favorite recipes and watch your calories or browse recipes below:</p>
    <ul class="awardslist userlist cf">
    	<li class="cf" ng-repeat="(key, recipe) in recipes">
				<div class="award buttons">
					{{recipe.recipename}}
					<a class="btn btn-cat btn-recipe tooltip" ng-href="#/recipes/{{key}}">
					<span>View your saved {{recipe.recipename}} recipes</span></a>
				</div>
    	</li>

<!-- 
    	<li class="cf">
    		<form action="#/recipes/simplelogin:2/-Jr2wktaXG4IkWrNaILw/recipeList">
				<div class="award">
					{{recipe.recipename}}
					<div class="buttons">
						<button class="btn btn-cat btn-recipe tooltip">
							<span>
							Explore soup recipes
							</span>
						</button>
					</div>
				</div>
			</form>
    	</li>
 -->
    </ul>
</section>

<section class="cf" ng-hide="currentUser" ng-include="'views/login.html'"></section>