<div class="checkinslist">

  <h1>{{recipe.recipeName}}</h1>
  <img src="http://www.lorempixel.com/600/400/food/" />
  <p>By: {{recipe.recipeAuthor}} Prep time: {{recipe.recipeCooktime}} Servings: {{recipe.recipeyield}}</p>
  <div class="meeting"> 
  	<p>Ingredients: {{recipe.recipeingredients}}</p>
  	<p>Preparation: {{recipe.recipePrep}}</p>
  	<p>Tags:
		<a class="btn btn-cat btn-recipe tag tooltip"
		href="#/tags/{{value}}"
		ng-repeat="(key, value) in recipe.recipeTags">
		<!-- {{key}} :  -->{{value}}
		<span>Explore {{value}} recipes</span></a>
	</p>
  </div>
</div>