<section class="checkins cf">
  <form name="myform"
    ng-submit="addCheckin()"
    novalidate>

    <h1>Share your Recipe</h1>
    <p>Fill out this form to share your recipe on Eat Right or return to
    <a ng-href="#/food-diary">your food diary</a></p>

    <p class="error formerror" ng-show="message">{{ message }}</p>

    <input type="firstname" name="firstname" placeholder="Your First Name"
      ng-model="user.firstname" ng-required="true">
    <p class="error validationerror"
      ng-show="myform.firstname.$invalid && myform.firstname.$touched">
      First Name is required</p>

    <input type="recipename" name="recipename" placeholder="Recipe Name"
      ng-model="user.recipename" ng-required="true">
    <p class="error validationerror"
      ng-show="myform.recipename.$invalid && myform.recipename.$touched">
      Recipe Name is required</p>

    <input type="ingredients" name="ingredients" placeholder="Ingredients"
      ng-model="user.ingredients" ng-required="true">
    <p class="error validationerror"
      ng-show="myform.ingredients.$invalid && myform.ingredients.$touched">
      At least one Ingredient required</p>

    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">Share Recipe</button>
      
  </form>
</section>